.info-section {
    background: linear-gradient(180deg, #199B74, #05b3fd); /* Diagonal gradient */
    border-radius: 30px;
    padding: 40px;
    max-width: 1800px;
    margin: -100px auto 0 auto; /* pulls up a little over HeroSection */
    position: relative;
    z-index: 2;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
